<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>Genetica Molecular - UADE - PubMed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/mainpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="card text-black bg-dark col-md-10">
            <div class="card-header text-light"><b>UADE - Genetica Molecular - TXT Generator</b></div>
            <div class="row">
                <div class="card col">
                    <div class="card-body">
                        <h5 class="card-title">Option 1</h5>
                        <p class="card-text bg-white">Use the text-input area for search every genome in PubMed's database</p>
                        <a href="Formatted.html" class="btn btn-dark">Search directly on PubMed's databases</a>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body ">
                        <h5 class="card-title">Option 2</h5>
                        <p class="card-text bg-white">Use your own ID's for obtaining the genomes from PubMed's databases.</p>
                        <a href="FormDB.html" class="btn btn-dark">Use multiples Id's of PubMed's databases</a>
                    </div>
                </div>
            </div>
            <div class="card-header text-light"><b>UADE - Genetica Molecular - ClustalW</b></div>
            <div class="row">
                <div class="card col">
                    <div class="card-body text-center">
                        <h5 class="card-title">Option 3 (Clustal)</h5>
                        <p class="card-text bg-white">Use your generated TXT to analyze the data</p>
                        <a href="ClustalSearch.html" class="btn btn-dark">Use ClustalW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>